// GRID

$grid-width: 117rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


// NAV

$nav-gutter-horizontal: 2.6rem;

// COLORS

$color-primary: #e74c3c;
$color-primary-dark : darken($color-primary,30%);
//$color-primary: #c1e41b;
$color-white: #fff;


$bg-secondary: #f4f5f9;

// TYPOGRAPHY COLORS

$text-black: #6a6a6a;

