.nav {

  @include respond(tab-port){
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1500;
    transition: visibility .8s cubic-bezier(0.68, -0.55, 0.265, .65);
  }

  &__background {
    transform: scale(0);
    height: 1rem;
    width: 1rem;
    visibility: hidden;
    opacity: 0;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    background-image: radial-gradient($color-primary, $color-primary-dark);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    &.open {
      visibility: visible;
      opacity: 1;
      transform: scale(300);
    }
  }

    transition: all .54s ease-in-out;
  &.open {
    opacity: 1;
    visibility: visible;
    & ul {
      display: flex;
      flex-direction: column;
    }

    & li {
      display: block;
      margin: 0 0 10px 0!important;
      text-align: center;
      width: 30rem;
      border: none;

      transition: all .3s ease-in-out;

    }

    & li:hover {
      cursor: pointer;
      border: none;
      background-color: lightyellow;
    }

    & li:hover a {
      color: #222222;
    }
  }

  & li {
    display: inline-block;
    padding: 1.95rem 0;
    margin:0 $nav-gutter-horizontal;
    font-size: 0;
    border-bottom: 2px solid transparent;

  }
  & li:last-child{
    margin: 0 0 0 $nav-gutter-horizontal;
  }
  & li:first-child{
    margin: 0 $nav-gutter-horizontal 0 0;
  }


  & li:hover a {
    color: $color-primary;
  }
  & li:hover {
    border-bottom: 2px solid $color-primary;
  }
  & a {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    color: white;
    font-weight: 600;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }


  ////////////// BUTTON

  &__button {
    padding: 1rem;
    //display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid white;
    min-height: 40px;
    //position: relative;
    top: 12px;
    cursor: pointer;
    position: fixed;
    right: 3rem;
    display: none;
    z-index: 2500;
    @include respond(tab-port){
      display: flex;
      top: 12px;
    }
    .gamburger  {
      position: relative;
      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-white;
        display: inline-block;
        @include respond(tab-port){
          width: 2.5rem;
        }
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;

      }
      &::before {
        top: -.8rem;
      }
      &::after {
        top: .8rem;
      }



    }


    &.active .gamburger {
      background-color: transparent;
    }
    &.active .gamburger::before {
      top: 0;
      transform: rotate(135deg);
    }
    &.active .gamburger::after {
      top: 0;
      transform: rotate(-135deg);
    }


    &:not(.active):hover  .gamburger::before {
      top: -1rem;
    }
    &:not(.active):hover .gamburger::after {
      top: 1rem;
    }

  }

}




